*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Plus Jakarta Sans", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: rgb(165,237,185);
    background: linear-gradient(90deg, rgba(165,237,185,1) 0%, rgba(59,183,126,1) 100%);;
}
.blanco{
    position: relative;
    height: 95vh;
    width: 41vw;
    border-radius: 20px;
    background-color: white;
    z-index: -2;
}
.container{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 95vh;
    width: 98vw;
    background-color: #000000 ;
    opacity: 0.6;
    border-radius: 20px;
}
.circulos {
    background-image: url(./Recursos/Fondos/circulos_Mesa\ de\ trabajo\ 1.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 95vh;
    width: 98vw;
    border-radius: 20px;
    position: absolute;
    display: flex;
    border-radius: 20px;
    opacity: 0.2;
    z-index: -2;
}
.contenedorcentro{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 77vh;
    width: 40vw;


}
.container2{
    display: flex;
    align-items: center;
    height: 77svh;
    width: 67vw;
    background-color:transparent;
    border-radius: 20px;
}

.contenedorizq{
    height: 95vh;
    width: 29vw;
}
.izq{
    /* border: solid; */
    border-color: rgb(255, 115, 0);
    height: 73vh;
    width: 30vw;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo{
    margin: 40px;
    height: 5vh;
    display: flex ;
    width: 90%;
    
}
.logoi{
    /* border: solid; */
    width: 23vh;
    height: 4.5vh;
    border-color: blue;
}
.li{
    /* border: solid; */
    border-color: cornflowerblue;
    width: 19vw;
    height: 38vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.contenedorli{
    /* border: solid; */
    border-color: chartreuse;
    width: 250px;
    height: 250px;
}
.titulo{
    /* border: solid; */
    width: 19vw;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.conttitulo{
    /* border: solid; */
    color: white;
    font-size: 25px;
}
.lineaverde{
    /* border: solid; */
    border-color: rgb(77, 172, 124);
    height: 5vh;
    width: 19vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.verde{
    /* border: solid; */
    height: 1vh;
    width: 19vh;
    background-color: #2EBB77;
}

.cent{
    
    border-radius: 20px;
    color: white;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.continputs{
    /* border: solid; */
    border-color: chocolate;
    display: flex;
    flex-direction: column;
    width: 31.2vw;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vh;
    border-radius: 20px;
}
input{
    border: solid 3px;
    padding: 8px;
    border-color: #FFFFFF;
    background-color: transparent;
    color: #FFFFFF;
    border-radius: 20px;
    width: 15vw;
    height: 4vh;
}
.contdown{
    /* border: solid; */
    border-color: rgb(138, 30, 210);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4vh;
    
}
.contdown2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vw;
    
}
a{
    text-decoration: underline;
    color: #3ab479
    ;
}
.question{
    
    width: 17vw;
    display: flex;
    justify-content: space-between;
}
.circuloverde{
    border: solid;
    height: 2vh;
    width: 2vh;
    background-color: #2EBB77;
    border-radius: 50%;
}
.circulogris{
    border: solid;
    height: 2vh;
    width: 2vh;
    border-radius: 50%;
}
.contbutton{
    /* border: solid; */
    border-color: chartreuse;
    width: 31.2vw;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 10px;
}
.butt{
    /* border: solid; */
    width: 8vw;
    height: 4vh;
    display: flex;
    justify-content: center;
}
button{
    border: 0;
    background-color: #2EBB77;
    color: white;
    border-radius: 20px;
    height: 100%;
    width: 100%;
}