*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
body{
    font-family: "Plus Jakarta Sans", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: rgb(165,237,185);
    background: linear-gradient(90deg, rgba(165,237,185,1) 0%, rgba(59,183,126,1) 100%);
    color: white;
}
.negro{
    position: relative;
    height: 730px;
    width: 600px;
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
    left: 425px;
}
.container{
    position: absolute;
    display: flex;
    align-items: center;
    height: 97vh;
    width: 96vw;
    background-color: #000000 ;
    opacity: 0.6;
    border-radius: 20px;
}
.circulos {
    background-image: url(./Recursos/Fondos/circulos_Mesa\ de\ trabajo\ 1.png);
    background-size: cover;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 730px;
    width: 1450px;
    border-radius: 20px;
    position: absolute;
    display: flex;
    margin-left: -152px;
    border-radius: 20px;
    opacity: 0.2;
}
.container2{
    position: absolute;
    display: flex;
    align-items: center;
    height: 730px;
    width: 1450px;
    background-color:transparent;
    border-radius: 20px;
}
.izq{
    
    border-color:chartreuse;
    height: 730px;
    width: 850px;
    border-radius: 20px;
}
.contenedorup{
    /* border: solid; */
    display: flex;  
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    height: 13vh;
    border-color: #2EBB77;
    gap: 7rem;
    margin-top: 1.5rem;
    
}
.logo{
    
    height: 50px;
    width: 10vw;
    border-color: rebeccapurple;
    margin-top: 30px;
    margin-left: 35px;
    
}
.logoi{
    
    width: 23vh;
    height: 4.5vh;
    border-color: blue;
}
.conttyl{
    margin-top: 20px;
    
    height: 8vh;
}
.ma{
    
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 6vh;
}
.lineaverde{
    
    border-color: rgb(134, 77, 172);
    height: 2vh;
    width: 19vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.verde{
    
    height: 1vh;
    width: 22vh;
    background-color: #2EBB77;
}
.contmid{
    
    height: 27vh;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}
.mid{
    display: flex;
    flex-direction: row;
   
    justify-content: center;
    align-items: center;
    opacity: 0.7;
}
.mid2{
    display: flex;
    flex-direction: row;
    
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    color: white;
}
.subt{
    text-decoration: none;
    color: white;
    font-size: 40px;
    font-weight: 600;
}
.flechader{
    
    height: 3vh;
    width: 2vw;
}
.contdown{
    
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}
.contdown1{
    
    height: 100%;
    width: 50%;
    border-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
}
.down1{
    
    height: 17vh;
    width: 13vw;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}
.ipi{
    
    border-color: #FFFFFF;
    font-weight: 500;
    background-color: transparent;
    color: #FFFFFF;
    border-radius: 20px;
    width: 100%;
    height: 4.5vh;
    padding: 13px;
    border: solid white 2.5px;
}
.contdown2{
    height: 100%;
    width: 50%;
    border-color: chartreuse;
    display: flex;
    align-items: center;
}
.down2{
    height: 10vh;
    width: 20vw;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}
.circulogris{
    height: 2vh;
    width: 2vh;
    border-radius: 50%;
    background-color: #7E7E7E;
    border-color: white;
}
.bc{
    height: 2vw;
    width: 7vw;
}
button{
    border: 0;
    background-color: #2EBB77;
    color: white;
    border-radius: 20px;
    height: 2vw;
    width: 2vw;
}
.der{
   
    border-color: aqua;
    height: 97vh;
    width: 39vw;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.containder{
    
    display: flex;
    height: 82vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.li{
    /* border: solid;  */
    border-color: cornflowerblue;
    width: 28vw;
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.contenedorli{
    /* border: solid; */
    border-color: chartreuse;
    background-image: url(Recursos/Iconos/PersonIcon.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 17.5vw;
    height: 35vh;
    border-radius: 50%;
    background-color: white;
}
.inputder{
   
    border-color: chocolate;
    display: flex;
    flex-direction: column;
    width: 28vw;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 50px;
}
.continput{
    
    width: 16vw;
    height: 4.5vh;
    display: flex;
    justify-content: center;
}
input{
    display: flex;
    padding: 8px;
}
.continputd{
    
    width: 16vw;
    height: 4.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 1rem;
}
input{
    
    border-color: #FFFFFF;
    background-color: transparent;
    color: #FFFFFF;
    border-radius: 20px;
    width: 100%;
}
.circuloverde{
    
    height: 2vh;
    width: 2vh;
    background-color: #2EBB77;
    border-radius: 50%;
    border-color: white;
}
.boton{
    
    border-color: beige;  
    width: 28vw;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 10px;
}
.contbuton{
    
    width: 8vw;
    height: 4vh;
    display: flex;
    justify-content: center;
}
button{
    border: 0;
    background-color: #2EBB77;
    color: white;
    border-radius: 20px;
    height: 100%;
    width: 100%;
}